SharedCache/SharedCache.Registration/Web References/Registration/Registration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sharedcache.indeXus.Net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sharedcache.indeXus.Net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sharedcache.indeXus.Net/">
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetInstallRegistration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="getUpdates" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInstallRegistrationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="SetInstallRegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:SetInstallRegistration" />
  </wsdl:message>
  <wsdl:message name="SetInstallRegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:SetInstallRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationSoap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetInstallRegistration">
      <wsdl:input message="tns:SetInstallRegistrationSoapIn" />
      <wsdl:output message="tns:SetInstallRegistrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationSoap" type="tns:RegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://sharedcache.indeXus.Net/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInstallRegistration">
      <soap:operation soapAction="http://sharedcache.indeXus.Net/SetInstallRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationSoap12" type="tns:RegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://sharedcache.indeXus.Net/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInstallRegistration">
      <soap12:operation soapAction="http://sharedcache.indeXus.Net/SetInstallRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registration">
    <wsdl:port name="RegistrationSoap" binding="tns:RegistrationSoap">
      <soap:address location="http://localhost:6652/Registration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationSoap12" binding="tns:RegistrationSoap12">
      <soap12:address location="http://localhost:6652/Registration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>